<template>
  <div class="animated fadeIn">
    <div class="email-app mb-1">

        <router-link to="/bulletin/compose"><b-button class="btn btn-danger m-t-20" style="float: right; ">New Compose</b-button></router-link>
      <main class="inbox">

        <ul class="messages">
          <div class="hr" style="border:0px; border-top:1px solid #e3e8ec;"></div>
          <b-table class="t-1" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
            responsive="sm" :items="listing" :fields="fields" :current-page="currentPage" :per-page="perPage"
             :filter="filter" @filtered="onFiltered">
             <template slot="id" slot-scope="row">
                <div>{{$index + 1}} </div>
              </template>
              <template slot="penerima" slot-scope="row">
                <div>{{row.item.penerima}} </div>
              </template>
              <template slot="pengirim" slot-scope="row">
                <div>{{row.item.pengirim}} </div>
              </template>
              <template slot="date" slot-scope="row">
                <div>{{checkDate(row.item.date)}} </div>
              </template>
              <template slot="qty" slot-scope="row">
                <div>{{row.item.jumlah}} </div>
              </template>
              <template slot="total" slot-scope="row">
                <div>{{row.item.total}} </div>
              </template>
              <template slot="actions" slot-scope="row">
                <router-link v-bind:to="'/edit-forms/' + row.item._id" data-toggle="tooltip" data-original-title="Edit"><b-button variant="primary" style="border-radius: 20%"><i class="fa fa-pencil-square-o"></i></b-button></router-link>
                <router-link  v-bind:to="'/view-forms/' + row.item._id" data-toggle="tooltip" data-original-title="View"><b-button variant="danger" style="border-radius: 20%"><i class="fa fa-search"></i></b-button></router-link>
                <router-link  v-bind:to="'/delete-user/' + row.item._id" data-toggle="tooltip" data-original-title="Delete"><b-button variant="warning" style="border-radius: 20%"><i class="fa fa-trash"></i></b-button></router-link>
              </template>
            </b-table>
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="float-right" />
        </ul>
      </main>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        listing: [],
        pageNumber: 0,
        paginate: ['listing'],
        checkedNames : [],
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        fields: [
          'penerima',
          'pengirim',
          'date',
          'qty',
          'total',
          {key: 'actions'}
        ],
        sortBy: 'creator',
        sortDesc: false,
        filter: '',
        pageOptions: [ 5, 10, 15 ],
        token: localStorage.getItem('token_pos')
      }
    },
    methods: {
      viewemail () {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'listbarangmasuk.php', {
          token: token,
          type: 'laporanbarangmasuk'
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list
          } else {
            alert('SALAH...!')
          }
        })

      },
      shuffle(id) {
        this.$router.push('tiket/detailTiket/'+ id)
      },
      added() {
        this.$router.push('addTiket')
      },
      onFiltered (filteredItems) {

        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      closed (id) {
        var self = this
        let r = confirm('Apakah Tiket ini akan di Close ?')
        if (r === true) {
          axios.post(url+'pluktime_ticketing_ticket_closed', {
            pluktime_ticketing_ticket_id: id,
            token: self.token
          }).then(function (response) {
            if (response.data.resultCode === 'OK') {
              self.user = response.data.pluktime_ticketing_ticket_closed
              self.$router.push('/tiket')
            }
          }).catch(error => {
              self.$router.push('/dashboard')
          });
        } else {
          self.$router.push('/tiket')
        }
      },
      checkdata(text){
        if(text.length<100) return text
        var res = text.slice(0,100);
        return res
      },
      checkDate(date){
        let dump = new Date(date)
        var dd = dump.getDate()
        if (dd<10) dd = '0'+ dd
        var mm = dump.getMonth();
        if (mm<10) mm = '0'+ mm
        var yyyy = dump.getFullYear()
        var hh = dump.getHours()
        if (hh < 10) hh = '0' + hh
        var mn = dump.getMinutes()
        if (mn < 10) mn = '0' + mn
        return yyyy +' - ' + dd + ' - ' + mm + ', ' + hh + ':' + mn
      },
      checkstatus(text){
        if(text === 1) return 'On Progress'
        else return 'Closed'
      }
    },
    created () {
      this.viewemail(1)
    }
  }
</script>
