<template>
  <div class="animated fadeIn">
    <b-row class="m-t-20">
      <b-col md="12">
        <b-card>
          <div slot="header">
            <strong>View</strong> Barang
          </div>
        <b-form-group
          label="Nama Barang"
          label-for="basicName"
          :label-cols="3"
          :horizontal="true">
          : {{name_barang}}
        </b-form-group>
          <b-form-group
            label="Description"
            label-for="basicnumber"
            :label-cols="3"
            :horizontal="true">
            : {{description}}
          </b-form-group>
          <b-form-group
            label="price"
            label-for="basicnumber"
            :label-cols="3"
            :horizontal="true">
            : {{price}}
          </b-form-group>
          <div slot="footer">
            <router-link to="/barang/list">
              <b-button type="reset" size="sm" variant="secondary"><i class="fa fa-ban"></i> Cancel</b-button>
            </router-link>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        name_barang: '',
        description: '',
        price: '',
        status: '',
        token: localStorage.getItem('token_pos')
      }
    },
    methods: {
      viewbarang (index) {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'viewbarang.php', {
          token: token,
          id: index,
          type: 'barang'
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list
            self.name_barang = self.listing.nama
            self.description = self.listing.description
            self.price = self.listing.harga
            self.status = self.listing.status
          } else {
            alert('SALAH...!')
          }
        }) 
      }
    },
    created () {
      this.viewbarang(this.$route.params.id)
    }
  }
</script>
