<template>
  <div class="animated fadeIn">
    <div class="row bg-email">
        <div class="col-sm-12 m-t-20 m-b-20" style="text-align: center;">
          Laporan Barang Keluar
        </div>
      <div class="col-sm-12 m-b-20">
        <ul class="messages">
          <div class="hr" style="border:0px; border-top:1px solid #e3e8ec;"></div>
          <b-table class="t-1" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
            responsive="sm" :items="listing" :fields="fields" :current-page="currentPage" :per-page="perPage"
             :filter="filter" @filtered="onFiltered">
             <template slot="id" slot-scope="row">
                <div>{{$index + 1}} </div>
              </template>
              <template slot="penerima" slot-scope="row">
                <div>{{row.item.penerima}} </div>
              </template>
              <template slot="pengirim" slot-scope="row">
                <div>{{row.item.pengirim}} </div>
              </template>
              <template slot="date" slot-scope="row">
                <div>{{checkDate(row.item.date)}} </div>
              </template>
              <template slot="namaBarang" slot-scope="row">
                <div>{{row.item.namaBarang}} </div>
              </template>
              <template slot="qty" slot-scope="row">
                <div>{{row.item.jumlah}} </div>
              </template>
              <template slot="total" slot-scope="row">
                <div>{{row.item.total}} </div>
              </template>
            </b-table>
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="float-right" />
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        listing: [],
        pageNumber: 0,
        paginate: ['listing'],
        checkedNames : [],
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        fields: [
          'penerima',
          'pengirim',
          'date',
          'namaBarang',
          'qty',
          'total'
        ],
        sortBy: 'creator',
        sortDesc: false,
        filter: '',
        pageOptions: [ 5, 10, 15 ],
        token: localStorage.getItem('token_pos')
      }
    },
    methods: {
      viewemail () {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'listbarangmasuk.php', {
          token: token,
          type: 'laporanbarangkeluar'
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list
          } else {
            alert('SALAH...!')
          }
        })

      },
      shuffle(id) {
        this.$router.push('tiket/detailTiket/'+ id)
      },
      added() {
        this.$router.push('addTiket')
      },
      onFiltered (filteredItems) {

        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      checkdata(text){
        if(text.length<100) return text
        var res = text.slice(0,100);
        return res
      },
      checkDate(date){
        let dump = new Date(date)
        var dd = dump.getDate()
        if (dd<10) dd = '0'+ dd
        var mm = dump.getMonth();
        if (mm<10) mm = '0'+ mm
        var yyyy = dump.getFullYear()
        var hh = dump.getHours()
        if (hh < 10) hh = '0' + hh
        var mn = dump.getMinutes()
        if (mn < 10) mn = '0' + mn
        return yyyy +' - ' + dd + ' - ' + mm + ', ' + hh + ':' + mn
      },
      checkstatus(text){
        if(text === 1) return 'On Progress'
        else return 'Closed'
      }
    },
    created () {
      this.viewemail(1)
    }
  }
</script>
