/*!
 * GenesisUI - Bootstrap 4 Admin Template
 * @version v1.8.14
 * @link https://ide2sen.com
 * Copyright (c) 2018 creativeLabs Łukasz Holeczek
 * @license https://ide2sen.com/license.html
 */

// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Import UI Kits
@import "uikits/uikits";

// Custom styles
@import "custom";
body {
    background-color: white !important;
}
.fr {
    float: right;
}
.paginate-list {
  width: 159px;
  margin: 0 auto;
  text-align: left;
  li {
    display: block;
    &:before {
      content: '⚬ ';
      font-weight: bold;
      color: slategray;
    }
  }
}

/* progressbar start */
.progress-tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  padding: 0;
  list-style: none;
}
.progress-step .name {
    display: block;
    vertical-align: bottom;
    text-align: left;
    margin-bottom: -1.7em;
    margin-top: 10px;
    color: black;
    opacity: 0.3;
    margin-left: -5px;
}
.progress-step {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  margin: 0;
  padding: 0;
  min-width: 50px;
}
.progress-tracker .progress-step .progress-marker span {
    opacity: 0.3;
}
.progress-step:last-child {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.progress-step:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  top: 12px;
  bottom: 12px;
  right: -14px;
  width: 100%;
  height: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.progress-step.is-active .progress-title {
  font-weight: 400;
}

.progress-step > a {
  display: block;
}

#input_bank .dropdown ul li a {
  display: flex;
  width: 100%;
  padding-right:300px;
  align-items: center;
  font-size: 1.25em;
}
.progress-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
  width: 28px;
  height: 28px;
  padding-bottom: 2px;
  color: #fff;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: background-color, border-color;
  transition: background-color, border-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.progress-text {
  display: block;
  padding: 14px 9.3333333333px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-title {
  margin-top: 0;
}

.progress-step .progress-marker {
  color: #000000;
  background-color: #b6b6b6;
}

.progress-step::after {
  background-color: #b6b6b6;
}

.progress-step .progress-text, .progress-step .progress-step > a .progress-text {
  color: #333333;
}

.progress-step.is-active .progress-marker {
  background-color: yellowgreen;
}

.progress-step.is-complete .progress-marker {
  background-color: yellowgreen;
}

.progress-step.is-complete::after {
  background-color: yellowgreen;
}

.progress-step:hover .progress-marker {
  background-color: yellowgreen;
}

.progress-tracker--center .progress-step {
  text-align: center;
}

.progress-tracker--center .progress-step:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.progress-tracker--center .progress-step::after {
  right: -50%;
}

.progress-tracker--center .progress-marker {
  margin-left: auto;
  margin-right: auto;
}

.progress-tracker--right .progress-step {
  text-align: right;
}

.progress-tracker--right .progress-step:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.progress-tracker--right .progress-step::after {
  right: calc(-100% + 14px);
}

.progress-tracker--right .progress-marker {
  margin-left: auto;
}

.progress-tracker--border {
  padding: 5px;
  border: 2px solid #868686;
  border-radius: 38px;
}

.progress-tracker--spaced .progress-step::after {
  width: calc(100% - 48px);
  margin-right: 24px;
}

.progress-tracker--word {
  padding-right: 38.6666666667px;
  overflow: hidden;
}

.progress-tracker--word .progress-text {
  display: inline-block;
  white-space: nowrap;
}

.progress-tracker--word .progress-title {
  margin: 0;
}

.progress-tracker--word-center {
  padding-right: 38.6666666667px;
  padding-left: 38.6666666667px;
}

.progress-tracker--word-center .progress-text {
  padding-right: 0;
  padding-left: 0;
  -webkit-transform: translateX(calc(-50% + 14px));
          transform: translateX(calc(-50% + 14px));
}

.progress-tracker--word-right {
  padding-right: 0;
  padding-left: 38.6666666667px;
}

.progress-tracker--word-right .progress-text {
  padding-left: 0;
  -webkit-transform: translateX(calc(-100% + 28px));
          transform: translateX(calc(-100% + 28px));
}

.progress-tracker--text .progress-step:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.progress-tracker--text-top .progress-step::after {
  top: auto;
}

.progress-tracker--text-top .progress-text {
  height: 100%;
}

.progress-tracker--text-top .progress-marker {
  bottom: 28px;
}

.progress-tracker--text-inline .progress-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-tracker--text-inline .progress-text {
  position: relative;
  z-index: 30;
  max-width: 70%;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
}

.progress-tracker--text-inline .progress-title {
  margin: 0;
}

.progress-tracker--square .progress-step {
  padding-top: 0;
}

.progress-tracker--square .progress-marker {
  -webkit-transform: scaleX(0.33) translateY(-12px);
          transform: scaleX(0.33) translateY(-12px);
  border-radius: 0;
}

@media (max-width: 399px) {
  .progress-tracker-mobile {
    overflow-x: auto;
  }
  .progress-tracker-mobile .progress-tracker {
    min-width: 200%;
  }
}

.progress-tracker--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress-tracker--vertical .progress-step {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.progress-tracker--vertical .progress-step::after {
  right: auto;
  top: 14px;
  left: 12px;
  width: 4px;
  height: 100%;
}

.progress-tracker--vertical .progress-marker {
  position: absolute;
  left: 0;
}

.progress-tracker--vertical .progress-text {
  padding-top: 7px;
  padding-left: 42px;
}

.progress-tracker--vertical .progress-step:not(:last-child) .progress-text {
  padding-bottom: 42px;
}

@-webkit-keyframes scale-up {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scale-up {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.anim-ripple .progress-marker::before, .anim-ripple-large .progress-marker::before, .anim-ripple-splash .progress-marker::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
}

.anim-ripple :not(:active) .progress-marker::before, .anim-ripple-large :not(:active) .progress-marker::before, .anim-ripple-splash :not(:active) .progress-marker::before {
  -webkit-animation: scale-up 0.3s ease-out;
          animation: scale-up 0.3s ease-out;
}

.anim-ripple :focus .progress-marker::before, .anim-ripple-large :focus .progress-marker::before, .anim-ripple-splash :focus .progress-marker::before {
  visibility: visible;
}

.anim-ripple-large .progress-marker::before {
  width: 200%;
  height: 200%;
}

.anim-ripple-splash .progress-marker::before {
  width: 200%;
  height: 200%;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.35);
}

.anim-ripple-double .progress-marker::before, .anim-ripple-double .progress-marker::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.anim-ripple-double :not(:active) .progress-marker::before, .anim-ripple-double :not(:active) .progress-marker::after {
  -webkit-animation: scale-up 0.3s ease-out 0s;
          animation: scale-up 0.3s ease-out 0s;
}

.anim-ripple-double :not(:active) .progress-marker::after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.anim-ripple-double :focus .progress-marker::before, .anim-ripple-double :focus .progress-marker::after {
  visibility: visible;
}

.anim-path .progress-step::after {
  background-image: -webkit-linear-gradient(left, #b6b6b6 50%, #868686 50%);
  background-image: linear-gradient(to right, #b6b6b6 50%, #868686 50%);
  background-size: 200% 100%;
  background-position: 0% 100%;
  -webkit-transition: background-position 0.3s ease-out;
  transition: background-position 0.3s ease-out;
}

.anim-path .progress-step.is-complete::after {
  background-position: -100% 100%;
}


/* progressbar end */
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-light .navbar-nav .dropdown-toggle {
    color: #4a4a4a !important;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
.paginate-links.items {
  user-select: none;
  a {
    cursor: pointer;
  }
  li.active a {
    font-weight: bold;
  }
  li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a {
    color: #ccc;
    cursor: no-drop;
  }
}
.ib{
    display: inline-block;
}
.bg-green{
    background:#6aba12 !important;
    height:10px;
}
.bg-green2{
    background:#6aba12 !important;
    color: white;
}
.container-footer {
    background: #6aba12;
    padding:20px 0px;
    font-size:14px;
    text-align: center;
    color: white;
}
.text-green-title1 {
    color: #6aba12;
}
.container2 {
    background: #96da11;
    padding:20px 0px;
    color: white;
}
.sidebar-fixed .main, .sidebar-fixed .app-footer {
    margin-left: 0px !important;
}
.header-fixed .app-body {
    margin-top: 30px !important;
}
.tc {
    text-align: center;
}
.main .container-fluid {
    padding: 0 0px;
}
img-relative {
    position: relative;
    text-align: center;
    color: white;
}
.center-left-title {
    position: absolute;
    top: 25%;
    left: 8.3333%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    width:350px;
}

.container-bagihasil {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: orange;
    color: white;
}
.center-left-description {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: 45%;
    left: 8.3333%;
    color: white;
    width:350px;
}
.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
.fs11 {
    font-size:11px;
}
.fs12 {
    font-size:12px;
}
.fs13 {
    font-size:13px;
}
.fs14 {
    font-size:14px;
}
.fs15 {
    font-size:15px;
}
.fs16 {
    font-size:16px;
}
.fs17 {
    font-size:17px;
}
.fs18 {
    font-size:18px;
}
.fs19 {
    font-size:19px;
}
.fs20 {
    font-size:20px;
}
.fs21 {
    font-size:21px;
}
.fs22 {
    font-size:22px;
}
.fs23 {
    font-size:23px;
}
.fs24 {
    font-size:24px;
}
.fs25 {
    font-size:25px;
}
.fs26 {
    font-size:26px;
}
.fs27 {
    font-size:27px;
}
.fs28 {
    font-size:28px;
}
.fs29 {
    font-size:29px;
}
.fs30 {
    font-size:30px;
}
.fs31 {
    font-size:31px;
}
.fs32 {
    font-size:32px;
}
.fs33 {
    font-size:33px;
}
.fs34 {
    font-size:34px;
}
.fs35 {
    font-size:35px;
}
.fs36 {
    font-size:36px;
}
.fs37 {
    font-size:37px;
}
.fs38 {
    font-size:38px;
}
.fs39 {
    font-size:39px;
}
.fs40 {
    font-size:40px;
}
.fs41{
    font-size:41px;
}
#ddown1 .btn-secondary {
    color: #151b1e;
    background-color: white;
    border-color: #bcc5d0;
    padding:7px 35px;
    border-radius: 5px;
}
.m-b-10 {
	margin-bottom:10px;
}
.m-b-20 {
	margin-bottom:20px;
}
.m-b-30 {
	margin-bottom:30px;
}
.m-b-40{
	margin-bottom:40px !important;
}
.m-b-50{
    margin-bottom:50px !important;
}
.m-b-60{
    margin-bottom:60px !important;
}
.m-b-70{
    margin-bottom:0px !important;
}
.m-t-10{
	margin-top:10px !important;
}
.m-t-15{
    margin-top:15px !important;
}
.m-t-20{
	margin-top:20px !important;
}
.m-t-30{
	margin-top:30px !important;
}
.m-t-40{
	margin-top:40px !important;
}
.m-t-50{
    margin-top:50px !important;
}
.m-t-60{
    margin-top:60px !important;
}
.m-t-70{
    margin-top:70px !important;
}
.m-t-80{
    margin-top:80px !important;
}
.ml10 {
	margin-left:10px;
}
.ml20 {
	margin-left:20px;
}
.ml30 {
	margin-left:30px;
}
.ml40 {
	margin-left:40px;
}
.mr10 {
	margin-right:10px;
}
.mr20 {
	margin-right:20px;
}
.mr30 {
	margin-right:30px;
}
.mr40 {
	margin-right:40px;
}
.tar {
	text-align:right;
}
.container3-left {
    padding-left: 8.33333% !important;
}
.container4 {
    padding-left: 8.33333%;
    padding-right: 5.7888%;
}
.container5 {
    margin-left: 8.33333% ;
    padding-right: 12.7888%;
}
.container5-1, .container5-2 {
    padding-right: 0px;
}
.container6 {
    margin-left: 6.33333%;
    padding-right: 8.33333%;
}
.container-detail {
    margin-left: 6.33333%;
    padding-right: 10.78%;
}
.container7 {
    width:100%;
    margin-left: 8%; 
    margin-right: 3%;
}
.section-submenu1.active {
    background: #6aba12; 
    color: white; 
    border-radius: 25px; 
    padding: 15px 40px;
}

.section-submenu1 {
    color: #6aba12; 
    border-radius: 25px; 
    padding: 15px 20px;
}
.section-skema.active {
    background: #424141; 
    color: #6aba12;  
    padding: 5px 20px;
}

.section-skema {
  // color: #6aba12; 
  padding: 5px 20px;
  background: #f7f4f4; 
}
.menu-nav {
    padding-left: 6%;
}
.footer1-left {
    padding-left: 6.33334% !important;
}
.skema-left1 {
    padding-left: 8.33333%;
    padding-right: 0;
}
.tentang-left {
    padding-left: 4%;
    padding-right: 6.777%;
}
 .faq-left{
    padding-left: 4%;
    padding-right: 10px;
 }
 .section-faq-1 {

 }
.proyek-left {
    padding-left: 4%;
    padding-right: 5.777%;
 }  
.c-w, .c-w a{
    color: white;
}
.c-grey1{
    color: #4a4a4a;
}
.bg-g1{
    background: #6aba12 !important;
}
.c-g1{
    color: #6aba12;
}
.container-footer1 {
    background: #efefef;
    padding: 20px 0px;
    color: #4a4a4a;
}
.img30 {
    position: absolute;
    top: -80%;
    left: 43%;
    width: 100px !important;
    height: 100px !important;
    border-radius: 200px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.sosmed-f {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 45px;
    background: green;
    margin-right:20px;
    margin-left:20px;
}
.nplr {
    padding-left: 0px;
    padding-right: 0px;
}
.npr {
    padding-right: 0px;
}
.npl {
    padding-left: 0px;
}
.btn-modali-left {
    margin-left:5%;
}
.contact-l { 
    padding: 5px 9px;
    border-radius: 26px;
}
.contact-m { 
    padding: 7px 9px;
    border-radius: 23px;
}
.contact-c { 
    padding: 7px 9px;
    border-radius: 23px;
}
.sosmed-y {
    width: 50px;
    height: 50px;
    padding: 12px 13px;
    border-radius: 45px;
    background: green;
    margin-right:20px;
}
.sosmed-t {
    width: 50px;
    height: 50px;
    padding: 10px 14px;
    border-radius: 45px;
    background: green;
}
.register-form {
  // border: 1px solid gray;
    padding: 40px 20px 40px 20px;
}
.mdplr {
  padding-right:20px;
}
#carousel1 .carousel-inner .carousel-item img {
    width: 500px;
    height: 280px;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #aedc4f;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #aedc4f;
}
#carousel1 .carousel-inner .carousel-item .img-fluid {
    height:350px !important;
}
.carousel-indicators li {
    background-color: #aaaaaa;
    border-radius: 10px;
    width: 12px;
    height: 12px;
}
.carousel-indicators .active {
    background-color: #89bf43;
}
.menu-text li, .dropdown-menu-kami {
    margin-left: 0px !important;
}
.navbar-light {
    background: #f1f1f1;
}
.btn-login-menu {
    background:#6cbf16; 
    color:white; 
    margin-left: 10px; 
    padding: 10px 20px; 
    border-radius:5px;
}
.btn-register-menu {
    background:white; 
    margin-left: 15px; 
    color:#6cbf16; 
    padding: 10px 20px; 
    border-color: #6cbf16; 
    border-radius:5px;
}
.btn-login-menu:hover, .btn-login-menu:active {
    background: white;
}

.btn-login-register:hover, .btn-register-menu:active {
    background: #6cbf16 !important;
}
.dropdown-menu-kami .dropdown-item:hover {
    background: green;
    color: #fff;
}
.dropdown-menu-kami .dropdown-item:active {
    background: green;
    color: #fff;
}
.navbar {
    margin-top:8px;
}
.accordion_faq {
    transition: all .3s; 
}
.fa-rotate-45 {
    -ms-transform:rotate(45deg);    
    -webkit-transform:rotate(45deg); 
    transform:rotate(45deg);         
}
/* .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
} */
@media only screen and (max-width:991px) {
    .img30 {
        top: -75%;
        left: 40%;
    }
    .skema-left1 {
        padding-left: 75px;
        padding-right: 0;
    }
    .skema-left2 {
        padding-left: 25px;
        padding-right: 0;
    }
}
@media only screen and (max-width:767px) {
    .container4 {
      padding-right: 25px;
      padding-left: 75px;
    }
    .container3-left {
      padding-left: 15.33333% !important;
    }
    .container5 {
      margin-left: 40px;
      padding-right: 20px;
    }
    .container5-1 {
      padding-right: 40px;
    }
    .container5-2 {
      padding-right: 30px;
    }
    .container6 {
      margin-left: 40px;
      padding-right: 20px;
    }
    .container-detail {
      margin-left: 40px;
      padding-right: 20px;
    }
    .container7 {
      width:100%;
      margin-left: 10%; 
      margin-right: 0%;
    }
    .img30 {
      top: -66%;
      left: 40%;
    }
    .menu1-right {
      text-align: right;
    }
    .btn-footer-register {
      margin-top:30px;
    }
    .sosmed {
      margin-top:20px;
    }
    .smt10 {
      margin-top:10px;
    }
    .smt20 {
      margin-top:20px;
    }
    .contact-m {
      padding: 5px 6px;
    }
    .btn-login-menu, .btn-register-menu {
      margin-left: 0px;
    }
    .btn-register-menu {
      margin-top: 20px;
      margin-bottom:20px;
    }
    .navbar-light {
      background: #f1f1f1;
    }
    .header-fixed .app-body {
      margin-top: 30px !important;
    }
    .sm-npr {
      padding-right:0 !important;
    }
    .sm-pr20 {
      padding-right:20px !important;
    }
    .skema-left1 {
      padding-left: 75px;
      padding-right: 0;
    }
    .skema-left2 {
      padding-left: 25px;
      padding-right: 0;
    }
    .text-skema-top-sm {
      margin-top: 10px;
      padding-right: 0;
    }
    .xsplr {
      padding-left:0px;
      padding-right:45px;
    }
}
@media only screen and (max-width:575px) {
    .container5 {
        margin-left: 40px;
        padding-right: 10px;
    }
    .cmt20 {
        margin-top:20px;
    }

    .img30 {
        top: -57%;
        left: 40%;
    }
    .footer1-left {
        margin-left:2.5%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66667%;
    }
    .col-xs-10 {
        width: 83.33333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66667%;
    }
    .col-xs-7 {
        width: 58.3337%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66667%;
    }
    .col-xs-4 {
        width: 33.33333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66667%;
    }
    .col-xs-1 {
        width: 8.33333%;
    }
    .container7 {
        width:100%;
        margin-right: -15px;
    }
    .xsplr {
      padding-left:0px;
      padding-right:45px;
    }
}
@media only screen and (max-width:451px) {
    #carousel1 .carousel-inner .carousel-item img {
        width: 500px;
        height: 350px;
    }
    .img30 {
        top: -45%;
        left: 30%;
    }
}

@media only screen and (min-width:768px) {
    .contact-section {
        margin-top:-10px !important;
    }
    .navbar-expand-md .navbar-nav .nav-link, .navbar-expand-md .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-md .navbar-nav .dropdown-toggle {
        padding-right: 0px !important;
        padding-left: 0px!important;
    }
}
@media only screen and (min-width:848px) {
    .navbar-expand-md .navbar-nav .nav-link, .navbar-expand-md .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-md .navbar-nav .dropdown-toggle, .navbar-expand-md .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-md .navbar-nav .dropdown-toggle {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}