<template>
  <div class="row m-t-60">
    <div class="col-md-12 footer1-left row">
      <div class="col-lg-12 col-md-12 col-sm-12 row container5-1">
        <div class="text-green-title1 col-12 fs28 tc"> Langkah Proses Cara Pemodalan</div>
        <div class="col-12 tc">
          <ul class="progress-tracker">
            <li class="progress-step is-complete">
              <span class="progress-marker">1</span>
              <span class="name">Step 1</span>
            </li>
            <li class="progress-step is-complete">
              <span class="progress-marker">2</span>
              <span class="name">Step 2</span>
            </li>
            <li class="progress-step is-active">
              <span class="progress-marker">3</span>
              <span class="name">Step 3</span>
            </li>
            <li class="progress-step">
              <span class="progress-marker">4</span>
              <span class="name">Step 4</span>
            </li>
            <li class="progress-step">
              <span class="progress-marker">5</span>
              <span class="name">Step 5</span>
            </li>
            <li class="progress-step">
              <span class="progress-marker">6</span>
              <span class="name">Step 6</span>
            </li>
          </ul>
        </div>
        <div class="col-12 fs14 m-t-40 tc"> Contrary to popular belief, Lorem Ipsum i</div>
        <div class="col-md-12 fs14 m-t-10"> 
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'carapemodalan',
    axios,
    data () {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
    },
    created: function () {
      // this.getIP()
    }
  }
</script>