<template>
  <div class="row m-t-30">
    <div class="col-md-12 faq-left row">
      <div class="col-lg-12 col-md-12 col-sm-12 row section-faq-1">
        <div class="text-green-title1 col-12 fs32 tc"> Pertanyaan Yang Sering Diajukan</div>
        <div class="col-12 fs18 tc"> Contrary to popular belief, Lorem Ipsum i</div>
        <div class="col-md-12 fs16 m-t-10" style="padding-right: 0px"> 
          <div class="containe-fluid" style=" box-sizing: unset;">
            <div v-for="(booking, name) in bookings" class="col-md-12">
              <a class="fw700">{{ upperCase(booking.title)}}</a>
              <i class="fa fa-plus-circle fs28 fr accordion_faq" @click="booking.open = !booking.open" v-if="booking.open === false"></i>
              <i class="fa fa-plus-circle fa-rotate-45 accordion_faq fs28 fr" @click="booking.open = !booking.open" v-if="booking.open === true"></i>
              <ul v-show="booking.open" style="margin-left:-10px; margin-top:10px; animation-fill-mode: both; animation-timing-function: ease-out; box-sizing: border-box;">
                <li v-html="booking.description"></li>
              </ul>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'Faq',
    axios,
    data () {
      return {
        slide: 0,
        sliding: null,
        bookings: []
      }
    },
    methods: {
      upperCase (index) {
        return index.toUpperCase()
      },
      index () {
        var self = this
        var parameter = {
          name_article: 'Faq'
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'article_filter', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            let dump = []
            let ab = response.data.article_list
            for (var i = 0; i < ab.length; i++) {
              let c = {
                title: ab[i].title,
                description: ab[i].description,
                open: false
              }
              dump.push(c)
            }
            self.bookings = dump
          } else {
            alert('SALAH...!')
          }
        }) 
      }
    },
    created: function () {
      this.index()
    }
  }
</script>