<template>
  <div class="row">
    <div class="col-md-12 img-relative">
      <span class="center-left-title fs24">Quisque convallis ex adum at potumu et nulla tristitue</span>
      <span class="center-left-description">loren ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta diam facilisis mauris tristique commodo. maecenas egestas quam in nulla vestibulum eleid. Duis blandit quis lectus eget at umnas item.</span>
      <b-img src="../static/img/home/slide1.jpg" fluid-grow alt="Responsive image" style="height:500px"/>
    </div>
    <div class="col-md-12 container2 row">
      <div class="col-md-12 row container3-left" style="padding: 10px;">
        <div class="col-md-4 row">
          <div class="col-md-3">
            <b-img src="../static/img/icons/market.png" fluid alt="Responsive image" style="height:50px"/>
          </div>
          <div class="col-md-8 row">
            <div class="col-md-12 fs20">
            Dengan Mitra Terbaik
            </div>
            <div class="col-md-12 fs14">
            lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="col-md-1" style="border-right: 1px solid white;"></div>
        </div>
        <div class="col-md-4 row sosmed">
          <div class="col-md-3">
            <b-img src="../static/img/icons/modal.png" fluid alt="Responsive image" style="height:50px"/>
          </div>
          <div class="col-md-8 row">
            <div class="col-md-12 fs20">
            Untuk Semua Kalangan
            </div>
            <div class="col-md-12 fs14">
            lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="col-md-1" style="border-right: 1px solid white;"></div>
        </div>
        <div class="col-md-4 row sosmed">
          <div class="col-md-3">
            <b-img src="../static/img/icons/keuntungan.png" fluid alt="Responsive image" style="height:50px"/>
          </div>
          <div class="col-md-9 row">
            <div class="col-md-12 fs20">
            Keuntungan Menjanjikan
            </div>
            <div class="col-md-12 fs14">
            lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 row tc m-t-40 m-b-40">
      <div class="fs30 col-12 text-green-title1"> Langkah mudah untuk mulai modali usaha tani</div>
      <div class="fs14 col-12"> Duis at arcu posuere, tempor nunc luctus, laoreet augue.</div>
    </div>
    <div class="col-md-12 row container4">
      <div class="col-md-12 row" style="padding: 10px; border-radius: 35px; border: 1px solid black;">
        <div class="col-md-3 tc section-submenu1" :class="{active:Activebar ==='Daftar'}" @click="Daftarclick('Daftar')" > Daftar </div>
        <div class="col-md-3 tc section-submenu1" :class="{active:Activebar ==='Pilih Proyek'}" @click="Daftarclick('Pilih Proyek')"> Pilih Proyek </div>
        <div class="col-md-3 tc section-submenu1" :class="{active:Activebar ==='Mulai Memodali'}" @click="Daftarclick('Mulai Memodali')"> Mulai Memodali</div>
        <div class="col-md-3 tc section-submenu1" :class="{active:Activebar ==='Pantau & Nikmati'}" @click="Daftarclick('Pantau & Nikmati')"> Pantau & Nikmati </div>
      </div>
    </div>
    <div class="col-md-12 row m-t-20 m-b-20">
      <div class="col-md-12 col-lg-12 col-sm-12 row container5" style="padding-left: 0">
        <div class="col-lg-4 col-md-5 col-sm-12 container5-1" style="padding-left: 0"> 
          <b-img :src="imgContent" fluid-grow alt="Responsive image" style="height:250px"/>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 row container5-1">
          <div class="text-green-title1 col-12 fs36"> {{title}}</div>
          <div class="col-md-12 fs16 m-t-10"> 
            <span v-html="Content"></span>
          </div>
        </div>
        <div class="col-md-12" style="border-top: 1px solid grey; margin-top:80px"></div>
      </div>
    </div>
    <div class="col-md-12 row tc m-t-20 m-b-20">
      <div class="fs30 col-12 text-green-title1"> Saatnya Memilih Proyek Permodalan Kamu</div>
      <div class="fs14 col-12"> Duis at arcu posuere, tempor nunc luctus, laoreet augue.</div>
    </div>
    <div class="col-md-12 row m-t-20 m-b-20">
      <div class="col-md-12 row container5" style="padding-right:0px">
        <div class="col-md-12 row" style="padding:0px">
          <div class="col-lg-5 col-md-6 col-sm-7"> Urutkan : 
            <b-dropdown id="ddown1" text="Progress Pendanaan" class="m-md-2">
              <b-dropdown-item>First Action</b-dropdown-item>
              <b-dropdown-item>Second Action</b-dropdown-item>
              <b-dropdown-item>Third Action</b-dropdown-item>
            </b-dropdown>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-5 cmt20"> Kategori : 
            <b-dropdown id="ddown1" text="Semua" class="m-md-2">
              <b-dropdown-item>First Action</b-dropdown-item>
              <b-dropdown-item>Second Action</b-dropdown-item>
              <b-dropdown-item>Third Action</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 row m-b-20">
      <div class="col-md-12 row container6">
        <paginate name="listing" :list="listing" :per="12" class="row">
          <div v-for="(index, id) in paginated('listing')" :key="id" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 fs12" style="padding: 0px 15px 20px 15px;">
            <div class="row" style="border: 1px solid grey; margin-right:5px; padding-bottom:15px">
              <div class="col-md-12 img-relative">
                <span class="container-bagihasil" style="padding: 10px 15px;">{{index.skema}}</span>
                <b-img :src="index.img" fluid-grow alt="Responsive image" style="height:250px"/>
              </div>
              <div class="col-md-12 fs20" style="text-transform: capitalize"> {{index.name}} </div>
              <div class="col-md-12" style="color: orange;"> Mulai Dari {{changecurrent(index.startfrom)}},- </div>
              <div class="col-md-12 col-sm-12 col-xs-12 row m-t-20"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr"> Ekspektasi Profit</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changeprofit(index.profit)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Lama Proyek</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.lamaProyek}} Hari </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Lokasi</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.lokasi}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Resiko</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.resiko}} </div>
             </div>
              <div class="col-md-12 row m-t-20"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Dana Terkumpul</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changecurrent(index.dana)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Kebutuhan Dana</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changecurrent(index.kebutuhan)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Sisa Waktu</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.sisaWaktu}} hari</div>
              </div>
              <div class="col-md-12 row m-t-15"> 
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 btn-modali-left"> 
                  <button class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 bg-green2" style="padding: 10px 15px; border-radius:5px;" @click="modali(index.id)"> Modali Sekarang</button>
                </div>
              </div>
            </div>
          </div>
        </paginate>
        <div class="col-md-12" style="text-align: right;">
          <paginate-links for="listing" :limit="2" :show-step-links="true"> </paginate-links>
        </div>
      </div>
    </div>
    <div class="col-md-12 tc row" style="background:#efefef;">
      <div class="fs30 col-12 text-green-title1" style="padding-top:30px;">
        Apa Kata Mereka
      </div>
      <div class="fs14 col-12"> Duis at arcu posuere, tempor nunc luctus, laoreet augue.</div>
      <div class="m-t-40 m-b-20 img-relative container7">
        <b-carousel id="carousel1"
          style="text-shadow: 1px 1px 2px #333;"
          controls
          indicators
          background="#fff"
          :interval="4000"
          v-model="slide"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd" class="row col-md-12 carousel-container"
        >
          <div v-for="(row, name) in comments">
            <b-carousel-slide img-blank img-alt="Blank image" >
              <img :src="row.url_images" class="d-block img30" width="500" height="480"/>
              <H3>{{row.title}}</H3>
              <span v-html="row.description"></span>
            </b-carousel-slide>
          </div>
        </b-carousel>
      </div>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'Index',
    axios,
    data () {
      return {
        Username: '',
        Password: '',
        currentPage: 1,
        perPage: 2,
        totalRows: 40,
        pageOptions: [ 5, 10, 15 ],
        checked: false,
        filter: '',
        listing: [],
        listings: [
          {
            name: 'anggur bandung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 150,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/anggur.jpeg'
          },
          {
            name: 'pepaya hongkong',
            startfrom: 10000,
            profit: 15,
            lamaProyek: 100,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 71000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/pepaya.jpeg'
          },
          {
            name: 'kentang',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 70,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 89000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/kentang.jpeg' 
          },
          {
            name: 'jagung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 180,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/jagung.png'
          },
          {
            name: 'anggur bandung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 150,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/anggur.jpeg'
          },
          {
            name: 'pepaya hongkong',
            startfrom: 10000,
            profit: 15,
            lamaProyek: 100,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 71000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/pepaya.jpeg'
          },
          {
            name: 'kentang',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 70,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 89000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/kentang.jpeg' 
          },
          {
            name: 'jagung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 180,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/jagung.png'
          },
          {
            name: 'pepaya hongkong',
            startfrom: 10000,
            profit: 15,
            lamaProyek: 100,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 71000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/pepaya.jpeg'
          },
          {
            name: 'kentang',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 70,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 89000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/kentang.jpeg' 
          },
          {
            name: 'jagung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 180,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/jagung.png'
          },
          {
            name: 'anggur bandung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 150,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/anggur.jpeg'
          },
          {
            name: 'pepaya hongkong',
            startfrom: 10000,
            profit: 15,
            lamaProyek: 100,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 71000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/pepaya.jpeg'
          },
          {
            name: 'kentang',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 70,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 89000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/kentang.jpeg' 
          },
          {
            name: 'jagung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 180,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/jagung.png'
          },
          {
            name: 'anggur bandung',
            startfrom: 10000,
            profit: 10,
            lamaProyek: 150,
            lokasi: 'kabupaten. garut',
            resiko: 'sedang',
            dana: 10000000,
            kebutuhan: 800005000,
            sisaWaktu: 15,
            img: '../static/img/home/anggur.jpeg'
          }
        ],
        paginate: ['listing'],
        slide: 0,
        sliding: null,
        Activebar: 'Daftar',
        imgContent: '',
        Content: '',
        title: '',
        comments: []
      }
    },
    methods: {
      goTo (path, id) {
        let self = this
        self.$router.push(path)
      },
      changeprofit (index) {
        return index + '.00 %'
      },
      changecurrent (index) {
        // return index
        return 'Rp. ' + index.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
      },
      getRowCount (items) {
        return items.length
      },
      onFiltered (filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      clickCallback: function(pageNum) {
        console.log(pageNum)
      },
      onSlideStart (slide) {
        this.sliding = true
      },
      onSlideEnd (slide) {
        this.sliding = false
      },
      Daftarclick (index) {
        this.Activebar = index
        this.title = index
        if (index === 'Daftar') {
          this.imgContent = '../static/img/home/tani1.png'
          this.Content = '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>'
        } else if (index === 'Pilih Proyek') {
          this.imgContent = '../static/img/home/slide1.jpg'
          this.Content = '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>'
        } else if (index === 'Mulai Memodali') {
          this.imgContent = '../static/img/home/tani1.png'
          this.Content = '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>'
        } else if (index === 'Pantau & Nikmati') {
          this.imgContent = '../static/img/home/slide1.jpg'
          this.Content = '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>'
        } 
      },
      index () {
        var self = this
        var parameter = {
          name_article: 'Comment'
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'article_filter', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.comments = response.data.article_list
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      index2 () {
        var self = this
        var dump_listing = []
        var d = new Date('2018-11-15');
        var one_day=1000*60*60*24;
        var parameter = {
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'proyek_permodalan_filter', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            let proyek  = response.data.proyek_permodalan_list
            for (let i = 0; i < proyek.length; i++) {
              let skema_x = proyek[i].nama_skema
              let dx = new Date(proyek[i].start_from)
              var difference_ms = dx - d;
              let sisawaktu = Math.round(difference_ms/one_day)
              var x = {
              id: proyek[i].id_permintaan_modal,
              name: proyek[i].title,
              startfrom: 10000,
              skema: skema_x.substring(6, skema_x.length),
              profit: proyek[i].profit,
              lamaProyek: proyek[i].lama_proyek,
              lokasi: proyek[i].nama_lokasi,
              resiko: proyek[i].nama_resiko,
              dana: 71000000,
              kebutuhan: proyek[i].kebutuhan,
              sisaWaktu: sisawaktu,
              img: url.url_image + proyek[i].url_images
              }
              dump_listing.push(x)
            }
            self.listing  = dump_listing
            console.log(self.listing)
            // self.$router.push('/user')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      modali (index) {
        let self = this
        self.$router.push('/detailproyek/'+ index)
      }
    },
    created: function () {
      this.Daftarclick('Daftar')
      this.index()
      this.index2()
    }
  }
</script>