<template>
  <div class="row m-t-30">
    <div class="col-md-12 footer1-left row">
      <div class="col-lg-8 col-md-7 col-sm-12 row container5-1">
        <div class="text-green-title1 col-12 fs36"> {{title}}</div>
        <div class="col-md-12 fs16 m-t-10" v-html="Content"> 
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 container5-1" style="padding-left: 10px"> 
        <b-img :src="imgContent" fluid-grow alt="Responsive image" style="height:250px"/>
      </div>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'PencapaianKami',
    axios,
    data () {
      return {
        slide: 0,
        sliding: null,
        imgContent: '',
        Content: '',
        title: ''
      }
    },
    methods: {
      index () {
        var self = this
        var parameter = {
          name_article: 'Pencapaian Kami'
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'article_view', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.article_view
            self.imgContent = url.url_image + self.listing.url_images
            self.title = self.listing.title
            self.Content = self.listing.description
          } else {
            alert('SALAH...!')
          }
        }) 
      }
    },
    created: function () {
      this.index()
    }
  }
</script>