<template>
  <div class="row">
    <div class="col-md-12 row tc m-t-60 m-b-20">
      <div class="fs30 col-12 text-green-title1"> Saatnya Memilih Proyek Permodalan Kamu</div>
      <div class="fs14 col-12"> Duis at arcu posuere, tempor nunc luctus, laoreet augue.</div>
    </div>
    <div class="col-md-12 row m-t-20 m-b-20">
      <div class="col-md-12 row container5" style="padding-right:0px">
        <div class="col-md-12 row" style="padding:0px">
          <div class="col-lg-5 col-md-6 col-sm-7"> Urutkan : 
            <b-dropdown id="ddown1" text="Progress Pendanaan" class="m-md-2">
              <b-dropdown-item>First Action</b-dropdown-item>
              <b-dropdown-item>Second Action</b-dropdown-item>
              <b-dropdown-item>Third Action</b-dropdown-item>
            </b-dropdown>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-5 cmt20"> Kategori : 
            <b-dropdown id="ddown1" text="Semua" class="m-md-2">
              <b-dropdown-item>First Action</b-dropdown-item>
              <b-dropdown-item>Second Action</b-dropdown-item>
              <b-dropdown-item>Third Action</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 row m-b-20">
      <div class="col-md-12 row container6">
        <paginate name="listing" :list="listing" :per="12" class="row">
          <div v-for="(index, id) in paginated('listing')" :key="id" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 fs12" style="padding: 0px 15px 20px 15px;">
            <div class="row" style="border: 1px solid grey; margin-right:5px; padding-bottom:15px">
              <div class="col-md-12 img-relative">
                <span class="container-bagihasil" style="padding: 10px 15px;">{{index.skema}}</span>
                <b-img :src="index.img" fluid-grow alt="Responsive image" style="height:250px"/>
              </div>
              <div class="col-md-12 fs20" style="text-transform: capitalize"> {{index.name}} </div>
              <div class="col-md-12" style="color: orange;"> Mulai Dari {{changecurrent(index.startfrom)}},- </div>
              <div class="col-md-12 col-sm-12 col-xs-12 row m-t-20"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr"> Ekspektasi Profit</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changeprofit(index.profit)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Lama Proyek</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.lamaProyek}} Hari </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Lokasi</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.lokasi}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Resiko</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.resiko}} </div>
             </div>
              <div class="col-md-12 row m-t-20"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Dana Terkumpul</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changecurrent(index.dana)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Kebutuhan Dana</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{changecurrent(index.kebutuhan)}} </div>
              </div>
              <div class="col-md-12 row"> 
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 npr">Sisa Waktu</div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6 nplr"> : {{index.sisaWaktu}} hari</div>
              </div>
              <div class="col-md-12 row m-t-15"> 
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 btn-modali-left"> 
                  <button class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 bg-green2" style="padding: 10px 15px; border-radius:5px;" @click="modali(index.id)"> Modali Sekarang</button>
                </div>
              </div>
            </div>
          </div>
        </paginate>
        <div class="col-md-12" style="text-align: right;">
          <paginate-links for="listing" :limit="2" :show-step-links="true"> </paginate-links>
        </div>
      </div>
    </div>
    <!-- 
    <div class="col-md-12 row">
      <div class="col-md-12 row proyek-left">
        <div class="col-md-12 m-t-40" style="padding: 0 0 0 10px;">
          <div class="col-md-12 " style="border: 1px solid #dad5d5;">
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'Proyekpemodalan',
    axios,
    data () {
      return {
        Username: '',
        Password: '',
        currentPage: 1,
        perPage: 2,
        totalRows: 40,
        pageOptions: [ 5, 10, 15 ],
        checked: false,
        filter: '',
        listing: [],
        paginate: ['listing'],
        slide: 0,
        sliding: null
      }
    },
    methods: {
      changeprofit (index) {
        return index + '.00 %'
      },
      changecurrent (index) {
        // return index
        return 'Rp. ' + index.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
      },
      getRowCount (items) {
        return items.length
      },
      onFiltered (filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      clickCallback: function(pageNum) {
        console.log(pageNum)
      },
      index2 () {
        var self = this
        var dump_listing = []
        var d = new Date('2018-11-15');
        var one_day=1000*60*60*24;
        var parameter = {
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'proyek_permodalan_filter', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            let proyek  = response.data.proyek_permodalan_list
            for (let i = 0; i < proyek.length; i++) {
              let skema_x = proyek[i].nama_skema
              let dx = new Date(proyek[i].start_from)
              var difference_ms = dx - d;
              let sisawaktu = Math.round(difference_ms/one_day)
              var x = {
              id: proyek[i].id_permintaan_modal,
              name: proyek[i].title,
              startfrom: 10000,
              skema: skema_x.substring(6, skema_x.length),
              profit: proyek[i].profit,
              lamaProyek: proyek[i].lama_proyek,
              lokasi: proyek[i].nama_lokasi,
              resiko: proyek[i].nama_resiko,
              dana: 71000000,
              kebutuhan: proyek[i].kebutuhan,
              sisaWaktu: sisawaktu,
              img: url.url_image + proyek[i].url_images
              }
              dump_listing.push(x)
            }
            self.listing  = dump_listing
            console.log(self.listing)
            // self.$router.push('/user')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      modali (index) {
        let self = this
        self.$router.push('/detailproyek/'+ index)
      }
    },
    created: function () {
      this.index2()
    }
  }
</script>