<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <div class="col-md-8 col-sm-12 col-lg-6 col-xl-6 col-xs-11">
          <div id="pt-pgSignin" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row register-form">
            <div class="col-md-12"><h1 class="tc m-b-50">Register</h1> </div>
            <b-input-group>
              <input type="text" v-model="Username" class="form-control mb-4" placeholder="username">
            </b-input-group>
            <b-input-group>
              <input type="email" v-model="email" class="form-control mb-4" placeholder="email">
            </b-input-group>
            <b-input-group>
              <input type="password" v-model="Password" class="form-control mb-4" placeholder="password">
            </b-input-group>
            <b-input-group>
              <input type="password" v-model="cPassword" class="form-control mb-4" placeholder="confirm password">
            </b-input-group>
            <div class="col-md-12 row m-b-10" style="padding:0">
              <b-button button-rounded-border-radius label="Verify" rounded class="col-md-12" size="14" @click="Register" style="background:#6cbf16; color:white; padding: 20px 0 20px 20px; border-radius:5px; margin-left:15px; margin-right:-15px;">
                Register
              </b-button>
            </div>
            <div class="col-md-12 row" style="padding:0">
              <b-button button-rounded-border-radius label="Verify" rounded class="col-md-12" size="14"  @click="loginf" style="background:#3b66b8; color:white; padding: 20px 0 20px 20px; border-radius:5px; margin-left:15px; margin-right:-15px;">
               <i class="fa fa-facebook fs24" style="padding-right:10px;"></i>  Login With Facebook
              </b-button>
            </div>
            <div class="col-md-12 m-t-10 fs12" style="display: inline ">
              <div class=" tc"> Already have an Account? 
                <span @click="$router.push('/login')" style="font-weight:900;"> Login</span>
              </div>
            </div>
          </div>
        </div>
      </b-row>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'Register',
    axios,
    data () {
      return {
        Username: '',
        Password: '',
        email: '',
        cPassword: '',
        checked: false,
        listing: {}
      }
    },
    methods: {
      Register () {
        var self = this
        if (this.Username === '' || this.Username === null) {
          alert ('please insert your username')
        }

        if (this.email === '' || this.email === null) {
          alert ('please insert your email')
        }
        if (this.Password === '' || this.Password === null) {
          alert ('please insert your password')
        }

        if (this.cPassword === '' || this.cPassword === null) {
          alert ('please insert your confirmasi password')
        }

        if (this.Password !== this.Password) {
          alert ('confirmasi passsword not same with password')
        }

        var parameter = {
          username :this.Username,
          password: sha256(this.Password),
          email: this.email
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'signup', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            alert ('register succes')
            self.$router.push('/login')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      loginf () {
        var self = this
        axios.post(url + 'signin.php', {
          username :this.Username,
          password: sha256(this.Password)
          // ipaddress: this.ipaddress
        }).then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list;
            localStorage.setItem('token_pos', self.listing.token)
            localStorage.setItem('privilage', self.listing.privilage)
            self.$router.push('/dashboard')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      getIP () {
        console.log(location.hostname)
      }
    },
    created: function () {
      // this.getIP()
    }
  }
</script>
