<template>
  <div class="row m-t-20">
    <div class="col-md-12 row sm-npr skema-left1">
      <div class="col-lg-12 col-md-12 col-sm-12 row sm-npr">
        <div class="text-green-title1 col-12 fs28 tc"> Langkah Proses Cara Pemodalan</div>
        <div class="col-12 fs14 tc"> Contrary to popular belief, Lorem Ipsum i</div>
        <div class="col-lg-12 col-md-12 col-sm-12 row m-t-40 sm-npr">
          <div class="col-lg-12 col-md-12 col-sm-12 row sm-npr" style="padding: 0 0 10px 0; border-radius: 0 0 10px 10px; border: 1px solid black;">
            <div class="col-md-2 tc section-skema" :class="{active:Activebar ==='Skema Landing'}" @click="Daftarclick('Skema Landing')"> Skema Landing </div>
            <div class="col-md-2 tc section-skema" :class="{active:Activebar ==='Skema Bagi Hasil'}" @click="Daftarclick('Skema Bagi Hasil')"> Skema Bagi Hasil </div>
            <div class="col-md-2 tc section-skema" :class="{active:Activebar ==='Skema Pinjaman'}" @click="Daftarclick('Skema Pinjaman')"> Skema Pinjaman</div>
            <div class="col-md-3 tc section-skema" :class="{active:Activebar ==='Skema Syariah Musyarakah'}" @click="Daftarclick('Skema Syariah Musyarakah')"> Skema Syariah Musyarakah </div>
            <div class="col-md-3 tc section-skema" :class="{active:Activebar ==='Skema Syariah Murabahah'}" @click="Daftarclick('Skema Syariah Murabahah')"> Skema Syariah Murabahah </div>
            <div class="col-lg-12 col-md-12 col-sm-12 row m-t-30 skema-left2">
              <div class="col-lg-4 col-md-5 col-sm-12 " style="padding-left: 15px; padding-right: 0;"> 
                <b-img :src="imgContent" fluid-grow alt="Responsive image" style="height:250px; padding-right: 15px;"/>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-12 row text-skema-top-sm">
                <div class="col-md-12 fs16"> 
                  <span v-html="Content"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.mt20 {
  margin-top:20px;
}

</style>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import sha256 from 'sha256'

  export default {
    name: 'Skemapemodalan',
    axios,
    data () {
      return {
        slide: 0,
        sliding: null,
        Activebar: 'Skema Landing',
        imgContent: '',
        Content: ''
      }
    },
    methods: {
      Daftarclick (index) {
        this.Activebar = index
        var self = this
        var parameter = {
          name_article: index
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'article_view', parameter, config).then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.article_view
            self.imgContent = url.url_image + self.listing.url_images
            self.Content = self.listing.description
          } else {
            alert('SALAH...!')
          }
        }) 
      }
    },
    created: function () {
      this.Daftarclick('Skema Landing')
    }
  }
</script>