<template>
  <div class="animated fadeIn">
    <b-row class="m-t-20">
      <b-col md="12">
        <b-card>
          <div slot="header">
            <strong>Add</strong> Barang
          </div>
          <b-form-group
            label="Nama Pengirim"
            label-for="basicName"
            :label-cols="3"
            :horizontal="true">
              <select v-model="pengirim" class="col-sm-12 form-control form-control-lg">
                <option v-for="option in options" v-bind:value="option.id">
                  {{ option.name }}
                </option>
              </select>
              <!-- <multiselect v-model="pengirim" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
                <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.name }}</span><span class="custom__remove"  @click="props.remove(props.option)"> ❌ </span></span></template>
              </multiselect> -->
          </b-form-group>
          <b-form-group
            description="Please enter your description"
            label="Description"
            label-for="basicnumber"
            :label-cols="3"
            :horizontal="true">
            <select v-model="penerima" class="col-sm-12 form-control form-control-lg">
              <option v-for="option in options" v-bind:value="option.id">
                {{ option.name }}
              </option>
            </select>
          </b-form-group>
          <b-col md="12" class="tar m-b-20">
            <button class="btn btn-primary btn-xs" @click="addRow()">add row</button>
          </b-col>
          <table class="table table-hover">
            <thead>
              <tr>
                  <th style="width: 20px;">No.</th>
                  <th>Description</th>
                  <th style="width: 80px;">Qty</th>
                  <th style="width: 130px;"></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(row,index) in rows" :key="index">
                  <td>
                      {{ index +1 }}
                  </td>
                  <td>
                    <select v-model="row.barang" class="col-sm-12 form-control form-control-lg">
                      <option v-for="option in options_barang" v-bind:value="option.id">
                        {{ option.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                      <input class="form-control" v-model="row.qty"/>
                  </td>
                  <td>
                      <button class="btn btn-danger btn-xs" @click="removeRow(index)">remove row</button>
                  </td>
              </tr>
              </tbody>
          </table>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary" @click="barangSubmit"><i class="fa fa-dot-circle-o"></i>
              Submit
            </b-button>
            <router-link to="/barangmasuk/list">
              <b-button type="reset" size="sm" variant="secondary"><i class="fa fa-ban"></i> Cancel</b-button>
            </router-link>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  import Multiselect from 'vue-multiselect'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        pengirim:'',
        penerima:'',
        options: [],
        options_barang: [],
        description: '',
        barang: '',
        token: localStorage.getItem('token_pos'),
        rows: []
      }
    },
    components: {
      Multiselect
    },
    methods: {
      User_list () {
        var self = this
        let dump2 = []
        axios.post(url+'listbarangmasuk.php', {
          token: this.token,
          type: 'user'
        }).then(function (response) {
          if (response.data.resultCode === 'OK') {
            let dump = response.data.list
            for (let i=0; i< dump.length; i++){
              let a = {
                name : dump[i].nama,
                id : dump[i].user_id
              }
              dump2.push (a)
            }
            self.options = dump2
          } else {
            self.$router.push('/login')
          }
        })
      },
      barangList () {
        var self = this
        let dump2 = []
        axios.post(url+'listbarangmasuk.php', {
          token: this.token,
          type: 'barang'
        }).then(function (response) {
          if (response.data.resultCode === 'OK') {
            let dump = response.data.list
            for (let i=0; i< dump.length; i++){
              let a = {
                name : dump[i].nama,
                id : dump[i].id_barang
              }
              dump2.push (a)
            }
            self.options_barang = dump2
          } else {
            self.$router.push('/login')
          }
        })
      },
      barangSubmit () {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        var listbarang = self.rows
        console.log(listbarang)
        axios.post(url+ 'addbarangmasuk.php', {
          token: token,
          pengirim: this.pengirim,
          penerima: this.penerima,
          listbarang: listbarang
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            alert('add barang succes')
            self.$router.push('/barangmasuk/list')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      addRow: function (index) {
        try {
          this.rows.splice(index + 1, 0, {});
        } catch(e)
        {
          console.log(e);
        }
      },
      removeRow: function (index) {
        this.rows.splice(index, 1);
      }
    },
    created () {
      this.User_list()
      this.barangList()
    }
  }
</script>
