<template>
  <div class="animated fadeIn">
    <div class="row bg-email">
      <div class="col-sm-12">
        <router-link to="/barangmasuk/add"><b-button class="btn btn-success m-t-20 m-b-20 mr10" style="float: right; ">New Barang</b-button></router-link>
      </div>
      <div class="col-sm-12 m-b-20">
        <div class="messages ml10 mr10">
          <div class="hr" style="border:0px; border-top:1px solid #e3e8ec;"></div>
          <b-table class="t-1" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
            responsive="sm" :items="listing" :fields="fields" :current-page="currentPage" :per-page="perPage"
             :filter="filter" @filtered="onFiltered">
             <template slot="id_barang" slot-scope="row">
                <div>{{row.index + 1}} </div>
              </template>
              <template slot="penerima" slot-scope="row">
                <div>{{row.item.penerima}} </div>
              </template>
              <template slot="pengirim" slot-scope="row">
                <div>{{row.item.pengirim}} </div>
              </template>
              <template slot="date" slot-scope="row">
                <div>{{checkDate(row.item.date)}} </div>
              </template>
              <template slot="actions" slot-scope="row">
                <router-link v-bind:to="'edit/' + row.item.id_barang_masuk" data-toggle="tooltip" data-original-title="Edit"><b-button variant="primary" style="border-radius: 20%"><i class="fa fa-pencil-square-o"></i></b-button></router-link>
                <router-link  v-bind:to="'view/' + row.item.id_barang_masuk" data-toggle="tooltip" data-original-title="View"><b-button variant="danger" style="border-radius: 20%"><i class="fa fa-search"></i></b-button></router-link>
                <b-button variant="warning" style="border-radius: 20%" @click="deleted(row.item.id_barang_masuk)"><i class="fa fa-trash"></i></b-button>
              </template>
            </b-table>
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="float-right" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        listing: [],
        pageNumber: 0,
        paginate: ['listing'],
        checkedNames : [],
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        fields: [
          'id_barang',
          'penerima',
          'pengirim',
          'date',
          {key: 'actions'}
        ],
        sortBy: 'creator',
        sortDesc: false,
        filter: '',
        pageOptions: [ 5, 10, 15 ],
        token: localStorage.getItem('token_pos')
      }
    },
    methods: {
      viewemail () {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'listbarangmasuk.php', {
          token: token,
          type: 'barangmasuk'
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list
          } else {
            alert('SALAH...!')
          }
        })
      },
      onFiltered (filteredItems) {

        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      deleted (index) {
        var self = this
        let r = confirm('Apakah Data Akan Di Hapus ?')
        if (r === true) {
          var token = self.token
          axios.post(url+ 'deletebarang.php', {
            token: token,
            id_barang: index
          })
          .then(function (response) {
            if (response.data.resultCode == 'OK') {
              alert('delete barang succes')
              self.viewemail()
            } else {
              alert('SALAH...!')
            }
          })
        }else {
          this.viewemail()
        }
      },
      checkDate(date){
        let dump = new Date(date)
        var dd = dump.getDate()
        if (dd<10) dd = '0'+ dd
        var mm = dump.getMonth();
        if (mm<10) mm = '0'+ mm
        var yyyy = dump.getFullYear()
        var hh = dump.getHours()
        if (hh < 10) hh = '0' + hh
        var mn = dump.getMinutes()
        if (mn < 10) mn = '0' + mn
        return yyyy +' - ' + dd + ' - ' + mm + ', ' + hh + ':' + mn
      }
    },
    created () {
      this.viewemail()
    }
  }
</script>
