<template>
  <div class="animated fadeIn">
    <b-row class="m-t-20">
      <b-col md="12">
        <b-card>
          <div slot="header">
            <strong>Edit</strong> Barang
          </div>
        <b-form-group
          description="Please enter name barang"
          label="Nama Barang"
          label-for="basicName"
          :label-cols="3"
          :horizontal="true">
          <b-form-input id="basicName" type="text" placeholder="Please enter name barang" v-model="name_barang"></b-form-input>
        </b-form-group>
          <b-form-group
            description="Please enter your description"
            label="Description"
            label-for="basicnumber"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="basicnumber" type="text" placeholder="Enter your description" v-model="description"></b-form-input>
          </b-form-group>
          <b-form-group
            description="Please enter your price"
            label="price"
            label-for="basicnumber"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="basicnumber" type="number" placeholder="Enter your price" v-model="price"></b-form-input>
          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary" @click="BarangEdit"><i class="fa fa-dot-circle-o"></i>
              Submit
            </b-button>
            <router-link to="/barangmasuk/list">
              <b-button type="reset" size="sm" variant="secondary"><i class="fa fa-ban"></i> Cancel</b-button>
            </router-link>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'
  export default {
    name: 'Email',
    axios,
    data () {
      return {
        name_barang: '',
        description: '',
        price: '',
        status: '',
        id_barang: '',
        token: localStorage.getItem('token_pos')
      }
    },
    methods: {
      BarangEdit () {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'editbarang.php', {
          token: token,
          nama: this.name_barang,
          description: this.description,
          harga: this.price,
          status: this.status,
          id_barang: this.id_barang
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            alert('edit barang succes')
            self.$router.push('/barangmasuk/list')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      viewbarang (index) {
        var self = this
        let status = []
        let dump2 =''
        var token = self.token
        axios.post(url+ 'viewbarang.php', {
          token: token,
          id: index,
          type: 'barang'
        })
        .then(function (response) {
          if (response.data.resultCode == 'OK') {
            self.listing = response.data.list
            self.name_barang = self.listing.nama
            self.description = self.listing.description
            self.price = self.listing.harga
            self.status = self.listing.status
          } else {
            alert('SALAH...!')
          }
        }) 
      }
    },
    created () {
      this.id_barang = this.$route.params.id
      this.viewbarang(this.id_barang)
    }
  }
</script>
