<template>
  <b-card :header="caption">
    <router-link to="/bulletin/compose"><b-button class="btn btn-danger m-t-20" style="float: right; ">New Compose</b-button></router-link>
    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" >
      <template slot="status" slot-scope="data">
        <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
      </template>
    </b-table>
    <nav>
      <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script>
  /**
   * Randomize array element order in-place.
   * Using Durstenfeld shuffle algorithm.
   */
  const shuffleArray = (array) => {
    for (let i = array.length - 1; i > 0; i--) {
      let j = Math.floor(Math.random() * (i + 1))
      let temp = array[i]
      array[i] = array[j]
      array[j] = temp
    }
    return array
  }

  export default {
    name: 'Bulletin',
    props: {
      caption: {
        type: String,
        default: 'Data Bulletin'
      },
      hover: {
        type: Boolean,
        default: false
      },
      striped: {
        type: Boolean,
        default: false
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    data: () => {
      return {
        items: shuffleArray([
          {title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},{title: 'PlukTime Promo', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'},
          {title: 'PlukTime Promo 2', sent: '100%', seen: '40%', clicked: '30%', created: '28 Mei 2018', agent: 'Ricko', action: 'kirim'}
        ]),
        fields: [
          {key: 'title'},
          {key: 'sent'},
          {key: 'seen'},
          {key: 'clicked'},
          {key: 'created'},
          {key: 'agent'},
          {key: 'action'}
        ],
        currentPage: 1,
        perPage: 10,
        totalRows: 0
      }
    },
    methods: {
      getBadge (status) {
        return status === 'Active' ? 'success'
          : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
              : status === 'kirim' ? 'danger' : 'primary'
      },
      getRowCount (items) {
        return items.length
      }
    }
  }
</script>
