<template>
  <div class="animated fadeIn">
    <div class="email-app mb-1">

      <main class="inbox">
        <div class="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-light" @click="backEmail()">
              <span class="fa fa-mail-reply"></span>
            </button> 
          </div>
          <b-button variant="light"><span class="fa fa-trash-o"></span></b-button>
          <b-dropdown variant="light">
            <template slot="button-content">
              <span class="fa fa-tags"></span>
            </template>
            <b-dropdown-item href="#">add label <b-badge variant="danger"> Home</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="info"> Job</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="success"> Clients</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="warning"> News</b-badge></b-dropdown-item>
          </b-dropdown>
          
        </div>
        <div>
          Total Distribusi 
          {{ ChangeValue(Total) }} / {{ ChangeValue(max) }} ( {{ (Total/max) * 100 }} %)
          <b-progress :value="Total" :max="max" show-progress animated></b-progress>
        </div>
        <div>
          Total Per Kelurahan :
          {{ totalKelurahan }}
        </div>
        <div>
          Total Distribusi :
          {{ totalKecamatan }}
        </div>
      </main>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'DashboardCaleg',
    axios,
    data () {
      return {
        totalKecamatan: [],
        Total: 0,
        totalKelurahan: [],
        max: 1000000
      }
    },
    methods: {
      viewemail () {
        var self = this
        var token = sessionStorage.getItem('token')
        axios.post('http://localhost/vote_caleg/api/dashboard.php', {
        //axios.post('http://aswr01.dev.pluktime.defghi.biz.id:12251/api/pluktime_user_logout', {
          token: "VC0fmGsDkc-fdtEjb1ykM-2tkLOFUh1L-3Wn4cJKFn5-SCilhC"
        }).then(function (response) {
          if (response.data.resultCode === "OK") {
            self.totalKecamatan = response.data.total_per_kecamatan
            var x = parseInt(response.data.Total)
            self.Total = parseInt(x * 1)
            self.totalKelurahan = response.data.total_per_kelurahan
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      ChangeValue (value) {
        return value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
      },
      backEmail() {
        this.$router.push('/kotakmasuk/email')
      }
    },
    created () {
      this.viewemail()
    }

  }
</script>
