<template>
  <div class="animated fadeIn">
    <div class="email-app mb-1">

      <main class="inbox">
        <div class="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-light" @click="backEmail()">
              <span class="fa fa-mail-reply"></span>
            </button> 
          </div>
          <!-- <div class="btn-group">
            <button type="button" class="btn btn-light">
              <span class="fa fa-mail-reply"></span>
            </button> 
            <button type="button" class="btn btn-light">
              <span class="fa fa-mail-reply-all"></span>
            </button> 
            <button type="button" class="btn btn-light">
              <span class="fa fa-mail-forward"></span>
            </button> 
          </div>
          -->
          <b-button variant="light"><span class="fa fa-trash-o"></span></b-button>
          <b-dropdown variant="light">
            <template slot="button-content">
              <span class="fa fa-tags"></span>
            </template>
            <b-dropdown-item href="#">add label <b-badge variant="danger"> Home</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="info"> Job</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="success"> Clients</b-badge></b-dropdown-item>
            <b-dropdown-item href="#">add label <b-badge variant="warning"> News</b-badge></b-dropdown-item>
          </b-dropdown>
          
        </div>
        <ul class="messages">
          <div class="hr" style="border:0px; border-top:1px solid #e3e8ec;"></div>
          <paginate name="listing" :list="listing" :per="10" class="paginate-list">
            <div class="message" v-for="(item,id) in paginated('listing')" @click="shuffle(item.id)" :key="id">
              <a href="#">
                <div class="actions">
                  <span class="action"><input type="checkbox" id="jack" :value="item.id" v-model="checkedNames"></span>
                  <span class="action"><i class="fa fa-star-o"></i></span>
                </div>
                <div class="header">
                  <span class="from">{{ item.nama }}</span>
                  <span class="date"><span class="fa fa-paper-clip"></span> {{ item.date }}</span>
                </div>
                <div class="title">
                  {{ item.subject }}
                </div>
                <div class="description">
                  {{ item.description }}
                </div>
              </a>
            </div> 
          </paginate>
        </ul>
      </main>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'DetailEmail',
    axios,
    data () {
      return {
        listing: [],
        pageNumber: 0,
        paginate: ['listing'],
        checkedNames : []
      }
    },
    methods: {
      viewemail () {
        var token = sessionStorage.getItem('token')
        var self = this
        axios.post('http://localhost/latihan-angular/api/viewemail.php', {
        //axios.post('http://aswr01.dev.pluktime.defghi.biz.id:12251/api/pluktime_user_logout', {
          token: token
        }).then(function (response) {
          if (response.data.resultCode == 'OK') {
              self.listing = response.data.resultData;
            //self.$router.push('/pages/login')
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      backEmail() {
        this.$router.push('/kotakmasuk/email')
      }
    },
    created () {
      this.viewemail()
    }

  }
</script>
