<template>
  <div class="animated fadeIn">
    <div class="email-app mb-1">

      <main class="inbox">
        <div class="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-light"><span class="fa fa-envelope"></span></button> 
          </div>
          <b-button variant="light"><span class="fa fa-trash-o"></span></b-button>
           <paginate-links for="listing" :simple="{
              next: '>',
              prev: '<'
            }" class="btn-group float-right">
            </paginate-links>
        </div>
        <ul class="messages">
          <div class="hr" style="border:0px; border-top:1px solid #e3e8ec;"></div>
          <paginate name="listing" :list="listing" :per="10" class="paginate-list">
             <div class="message" v-for="(item,id) in paginated('listing')" :key="id">
              <div class="actions">
                <span class="action-email"><input type="checkbox" v-model="checkedNames" :value="item.id"></span>
              </div>
              <div class="header" >
                <span class="from" @click="shuffle(item.id)">
                  <div class="detailwidth" >{{ item.nama }} </div> 
                  <div class="detailwidth3" > {{ checkdata(item.description) }}</div> 
                </span>
                <span class="date"><span class="fa fa-paper-clip"></span> {{ item.date }}</span>
              </div>
            </div>
          </paginate>
        </ul>
      </main>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'message',
    axios,
    data () {
      return {
        listing: [],
        paginate: ['listing'],
        checkedNames : [],
        pageNumber: 0
      }
    },
    methods: {
      viewemail () {
        var token = sessionStorage.getItem('token')
        var self = this
        axios.post('http://localhost/latihan-angular/api/viewemail.php', {
        //axios.post('http://aswr01.dev.pluktime.defghi.biz.id:12251/api/pluktime_user_logout', {
          token: token
        }).then(function (response) {
          if (response.data.resultCode == 'OK') {
              self.listing = response.data.resultData;
          } else {
            alert('SALAH...!')
          }
        }) 
      },
      shuffle(id) {
        this.$router.push('email/detail/'+ id)
      },
      checkdata(text){
        if(text.length<100) return text
        var res = text.slice(0,100);
        return res
      }
    },
    created () {
      this.viewemail()
    }

  }
</script>
