<template>
  <b-container class="bv-example-row" fluid>
    <b-row class="text-center fixed-top">
      <b-col class="bg-green"></b-col>
    </b-row>
    <b-row class="fs15" style="padding: 10px 0">
      <!-- <div class="menu-nav row col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-12" style="padding: 10px 0" @click="$router.push('/')">logo</div>
        <div class="col-lg-7 col-md-7 col-sm-12" style="padding: 0">
          <div style="display: inline-block; width:auto; padding: 10px 15px" v-for="(menu, index) in menus" @click="goTo(menu.path)"> 
            <a>{{ menu.label}}</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 menu1-right" style="padding: 0" >
          <b-button button-rounded-border-radius label="Verify" rounded class="full-width" size="14"  @click="$router.push('/login')" style="background:#6cbf16; color:white; margin-left: 15px; padding: 10px 20px; border-radius:5px;"> 
            Login 
          </b-button>
          <b-button button-rounded-border-radius label="Verify" rounded class="full-width" size="14" @click="$router.push('/register')" style="background:white; margin-left: 15px; color:#6cbf16; padding: 10px 20px; border-color: #6cbf16; border-radius:5px;">
            Register
          </b-button>
        </div>
      </div> -->
      <div class="col-md-12">
        <b-navbar toggleable="md" fixed="top">
          <b-navbar-brand @click="$router.push('/')">
            <b-img src="static/img/icons/logo.png" fluid alt="Responsive image" style="height:25px"/>
          </b-navbar-brand>
          <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
          <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="Tentang Kami" right class="dropdown-menu-kami">
                <b-dropdown-item @click="$router.push('/tentang-kami')">Cerita Kami</b-dropdown-item>
                <b-dropdown-item @click="$router.push('/skema-pemodalan')">Skema Pemodalan</b-dropdown-item>
                <b-dropdown-item @click="$router.push('/pencapaian-kami')">Pencapaian Kami</b-dropdown-item>
              </b-nav-item-dropdown>
              <div v-for="(menu, index) in menus" class="menu-text" style="color: #4a4a4a;"> 
                <b-nav-item @click="goTo(menu.path)">{{ menu.label}}</b-nav-item>
              </div>
              <div v-if="login === false"> 
                <b-button button-rounded-border-radius label="Verify" rounded class="full-width btn-login-menu" size="14"  @click="$router.push('/login')">
                  Login 
                </b-button>
                <b-button button-rounded-border-radius label="Verify" rounded class="full-width btn-register-menu" size="14" @click="$router.push('/register')">
                  Register
                </b-button> 
              </div>
              <b-nav-item-dropdown right :text="profile.pengguna_nama" class="dropdown-menu-kami" v-else style="text-transform:capitalize;"> 
                <b-dropdown-item @click="$router.push('/user')">profile</b-dropdown-item>
                <b-dropdown-item href="#">Skema Pemodalan</b-dropdown-item>
                <b-dropdown-item @click="logout">logout</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </b-row>
    <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" @click="asideToggle">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </b-container>
</template>
<script>
  import axios from 'axios'
  import { url } from '../../url'

  export default {
    name: 'header_',  
    axios,
    data (){
      return {
        nama_lengkap: sessionStorage.getItem('fullname'),
        menus: [
          {
            path: '/cara-pemodalan',
            label: 'Cara pemodalan',
          },
          {
            path: '/proyek-pemodalan',
            label: 'Proyek Pemodalan'
          },
          {
            path: '/faq',
            label: 'FAQ'
          }
        ],
        token: localStorage.getItem('token_rise'),
        profile: JSON.parse(localStorage.getItem('profile')),
        login: false
      }
    },
    components: {
    },
    methods: {
      goTo (path, id) {
        let self = this
        self.$router.push(path)
      },
      SubmitLogin () {
        var self = this
        axios.post(url + 'user_login', {
          token: token
        }).then(function (response) {
          if (response.data.resultCode === 'OK') {

          } else {
            alert('SALAH...!')
          }
        })
      },
      SubmitRegister () {
        var self = this
        axios.post(url + 'user_register', {
          token: token
        }).then(function (response) {
          if (response.data.resultCode === 'OK') {

          } else {
            alert('SALAH...!')
          }
        })
      },
      logout (e) {
        var self = this
        var parameter = {
          token: self.token,
          //passwor : sha256(self.Password)
        }
        var config = { 
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }
        axios.post(url.url_app + 'signout', parameter, config).then(function (response) {
          if (response.data.resultCode === 'OK') {
            localStorage.removeItem('profile')
            localStorage.removeItem('token_rise')
            self.login = false
            self.$router.push('/')
          } else {
            alert('SALAH...!')
          }
        })
      },
      index () {
        if (this.token !== null) {
          this.login = true
        } else {
          this.login = false
        }
      }
    },
    created () {
      this.index()
    }
  }
</script>
