<template>
  	<b-container class="no-padding" fluid>
  		<b-row class="container-footer2 m-t-40">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row footer1-left" style="padding: 10px;">
				<div class="col-md-12 row sm-npr">
					<div class="col-md-9 row sm-npr">
						<span class="fs28 c-g1 col-md-12"> Gabung bersama kami sekarang juga ! </span>
						<span class="fs16 col-md-12 c-grey1">Daftarkan diri anda dengan klik tombol <b>Register</b></span>
					</div>
					<div class="col-md-3 row btn-footer-register">
						<button class="col-md-12 bg-green2" style="padding: 10px 15px; border-radius: 5px; height:40px;" @click="$router.push('/register')"> Register</button>
					</div>
				</div>
				<div class="col-md-12 row m-t-40 m-b-40 sm-pr20" style="padding: 0px 30px;">
					<div class="col-md-12 row " style="border: 1px solid #dad5d5;">
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row m-b-40">
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<b-img src="../static/img/logo/p5.jpg" alt="Responsive image" style="height:100px"/>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<b-img src="../static/img/logo/p1.jpg" alt="Responsive image" style="height:100px"/>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<b-img src="../static/img/logo/p4.jpg" alt="Responsive image" style="height:100px"/>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<b-img src="../static/img/logo/p2.jpg" alt="Responsive image" style="height:100px"/>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<b-img src="../static/img/logo/p3.jpg" alt="Responsive image" style="height:100px"/>
					</div>
				</div>
			</div>
  		</b-row>
	    <b-row class="container-footer1">
	    	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row footer1-left" style="padding: 10px;">
				<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 row">
		          <div class="col-md-12 row">
		            <div class="col-md-12 fs20 c-g1">
		            About Us
		            </div>
		            <div class="col-md-12 fs14">
		            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porro provident suscipit natus a cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident dolor ab aliquam eveniet alias.
		            </div>
		            <div class="col-md-12 row c-w sosmed">
		            	<a :href="facebook.url_sosmed" class="sosmed-f bg-g1"> <i class="fa fa-facebook fs28"></i> </a>
		            	<a :href="youtube.url_sosmed" class="sosmed-y bg-g1"> <i class="fa fa-youtube-play fs25"></i> </a>
		            	<a :href="twitter.url_sosmed" class="sosmed-t bg-g1"> <i class="fa fa-twitter fs28"></i> </a>
		            </div>
		          </div>
		        </div>
		        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 row sosmed">
		          <div class="col-md-12 row">
		            <div class="col-md-12 fs20 c-g1">
		            Menu
		            </div>
		            <div class="col-md-12 fs14 m-t-10">
		            	Tentang Kami
		            </div>
		            <div class="col-md-12 fs14">
		            	Cara Memodali
		            </div>
		            <div class="col-md-12 fs14">
		            	Cara Kerja
		            </div>
		            <div class="col-md-12 fs14">
		            	Pertanyaan
		            </div>
		            <div class="col-md-12 fs14">
		            	Syarat dan Ketentuan
		            </div>
		            <div class="col-md-12 fs14">
		            	Blog
		            </div>
		            <div class="col-md-12 fs14">
		            	Newsroom
		            </div>
		            <div class="col-md-12 fs14">
		            	Kontak Kami
		            </div>
		            <div class="col-md-12 fs14">
		            	Risiko Permodalan
		            </div>
		          </div>
		        </div>
		        <div class="col-md-5 col-lg-4 col-sm-12 col-xs-12 row sosmed">
		          <div class="col-md-12 row c-w">
		            <div class="col-md-12 fs20 c-g1">
		            Contact Us
		            </div>
		            <div class="col-md-12 col-sm-12 col-xs-12 row m-t-10 contact-section ">
		            	<div class="col-md-3 col-sm-1 col-xs-2">
			            	<a @click="coba" class="contact-l bg-g1">
			            		<i class="fa fa-map-pin fs14"></i> 
			            	</a>
			            </div>
			            <div class="col-md-9 col-sm-11 col-xs-9 c-grey1">
		            		<span> Jln Thamrin Raya, 114 Jakarta Pusat, 11140, Indonesia </span>
			            </div>
		            </div>
		            <div class="col-md-12 col-sm-12 col-xs-12 row smt10">
		            	<div class="col-md-3 col-sm-1 col-xs-2">
			            	<a @click="coba" class="contact-m bg-g1">
			            		<i class="fa fa-envelope fs14"></i> 
			            	</a>
			            </div>
			            <div class="col-md-9 col-sm-9 col-xs-9 c-grey1">
		            		<span> imam.bukhori@gmail.com </span>
			            </div>
		            </div>
		            <div class="col-md-12 col-sm-12 col-xs-12 smt20 row">
		            	<div class="col-md-3 col-sm-1 col-xs-2">
			            	<a @click="coba" class="contact-c bg-g1">
			            		<i class="fa fa-phone fs16"></i> 
			            	</a>
			            </div>
			            <div class="col-md-9 col-sm-9 col-xs-9 c-grey1">
		            		<span> +62-812-3145-4553</span>
			            </div>
		            </div>
		          </div>
		        </div>
		    </div>
	    </b-row>
	    <b-row class="text-center">
			<b-col class="container-footer"> &copy; 2018 Logo Name.
			All	rights Reserved
			</b-col>
	    </b-row>
  	</b-container>
</template>
<script>
import axios from 'axios'
import { url } from '../url'
export default {
  	name: 'c-footer',
    axios,
    data ()	{
      return {
      	twitter: '',
      	youtube: '',
      	facebook: '',
      }
    },
	methods: { 
		index () {
			var self = this
	        var parameter = {
	        }
	        var config = { 
	          headers: {
	            'Content-Type': 'application/x-www-form-urlencoded'
	          }
	        }
	        axios.post(url.url_app + 'sosmed_filter', parameter, config).then(function (response) {
	          if (response.data.resultCode == 'OK') {
	            self.twitter = response.data.sosmed_list[1]
	            self.youtube = response.data.sosmed_list[0]
	            self.facebook = response.data.sosmed_list[2]
	          } else {
	            alert('SALAH...!')
	          }
	        })
		},
		coba () {
		}
	},
    created: function () {
      this.index()
    }
}
</script>
